<p><b>Start date:</b>
  <%= project.startdate %></p>

<p><b>End date:</b>
  <%= project.enddate %></p>

<p><b>Customer:</b>
  <%= project.customer %></p>

<p><b>Title:</b>
  <%= project.title %></p>

<p><b>Description:</b>
  <%= project.description %></p>

<p>
  <%= link_to 'Delete project', [project.cv, project],
                :confirm => 'Are you sure?',
                :method => :delete %>
</p>

