<% @cv.skills.build %>
<%= form_for(@cv) do |cv_form| %>
  <% if @cv.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cv.errors.count, "error") %> prohibited this cv from being saved:</h2>

      <ul>
      <% @cv.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= cv_form.label :forename %><br />
    <%= cv_form.text_field :forename %>
  </div>
  <div class="field">
    <%= cv_form.label :surname %><br />
    <%= cv_form.text_field :surname %>
  </div>
  <div class="field">
    <%= cv_form.label :title %><br />
    <%= cv_form.text_field :title %>
  </div>
  <div class="field">
    <%= cv_form.label :description %><br />
    <%= cv_form.text_area :description %>
  </div>
  <h2>Skills</h2>
  <%= render :partial => 'skills/form',
        :locals => {:form => cv_form} %>
  <div class="field">
    <%= cv_form.label :freetext %><br />
    <%= cv_form.text_area :freetext %>
  </div>
  <div class="actions">
    <%= cv_form.submit %>
  </div>
<% end %>
